[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
drf-spectacular = "*"
dj-rest-auth = "*"
djangorestframework = "*"
django-allauth = "*"
whitenoise = "*"
gunicorn = "*"
environs = "*"
psycopg2 = "==2.9.3"

[dev-packages]

[requires]
python_version = "3.10"
